<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Programma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-tabs>
    <!-- Tab bar -->
    <ion-tab-bar color="secondary" slot="bottom">
      <ion-tab-button tab="Zuid">
        <ion-icon name="bicycle"></ion-icon>
        <ion-label>Zuid</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="Run">
        <ion-icon name="walk"></ion-icon>
        <ion-label>Run</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="Noord">
        <ion-icon name="bicycle"></ion-icon>
        <ion-label>Noord</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="Fietsmarkt">
        <ion-icon name="pricetags"></ion-icon>
        <ion-label>Fietsmarkt</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
